extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs
		.container 
			ul.breadcrumbs__list 
				li.breadcrumbs__item
					a.breadcrumbs__link Home
				li.breadcrumbs__item
					a.breadcrumbs__link About